* {
  margin: 0;
  background: #f3f5fc;
  font-family: Inter;
  font-style: Regular;
  font-size: 32px;
  line-height: 150%;
}

/* Contenedor logo */

header {
  margin: 0.5rem;
}

.logo {
  border-radius: 15px;
  width: 2rem;
  height: auto;
}

/* Main del encriptador */

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 80vh;
}

.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textArea {
  width: 100%;
  height: auto;
  resize: none;
  border: none;
  color: #0a3871;
  text-transform: lowercase;
}

::placeholder {
  color: #0a3871;
}
.textArea:focus {
  outline: none;
}

.textoResuelto {
  margin-top: .5rem;
  resize: none;
  background: white;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  padding: 20px;

  background-image: url("./images/Muneco.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.textoResuelto:focus {
  outline: none;
}

.info{
    margin: 0.75rem 0;
    color: rgb(149, 147, 147);
    font-size: 20px;
    font-weight: 400;
}

.containerInfo{
    display: flex;
    align-items: center;
}

.containerInfo > img{
    width: 22px;
    height: auto;
    margin-right: 10px;
}

.containerButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
}

.desencriptar{
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  margin-left: 1.5rem;
}

.copiar{
  visibility: hidden;
  background-color: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
} 

.desencriptar,.copiar,.encriptar{
    &:hover{scale: 1.03;}
}

@media only screen and (max-width: 600px){
  .desencriptar{
    margin-left: 0;
    margin-top: 1.25rem;
  }

  .textoResuelto{
    margin-top: 1rem;
  }
}